{% extends "gravcode/layout.html" %}

{% block content %}

<article class="container"> 
    <div class="row" id="h1txtcolor">
        <div class="col-xs-12">
            <button class="btn--primary js-tingle-modal-1a" id="aboutbutton">
                <h1>
                    About us
                </h1>
            </button>
        </div>
    </div>
</article> 

<div class="tingle-no-display tingle-footer-button-close1a">
    <h3 style="text-align:center">    
        <br/><br/>        
        <p>
            Gravity Codes is a universe that engenders novelty.
        </p>
        <p>
            We see technology as an extension of human kind and important part of the evolutionary process.
        </p >
        <p>
            We use it to transcend human limitation and expand our boundaries. 
        </p>
    </h3>
</div>
{% endblock %}