{% extends "gravcode/layout.html" %}

{% block content %}

<article class="container"> 
    <div class="row" id="h1txtcolor">
        <div class="col-xs-12">
            <button class="btn--primary js-tingle-modal-1a"  id="servicesbutton">
                <h1>
                    Services
                </h1>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn--primary js-tingle-modal-1b"  id="subservicesbutton">
            <div>WE ADVISE, WE RESEARCH, WE BUILD</div>
        </div>
    </div>    
</article> 

<div class="tingle-no-display tingle-footer-button-close1a tingle-footer-button-close1b">
    <div class="row">
        <br/>
        <br/>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            <h4 id="h4resize">WE ADVISE, WE RESEARCH, WE BUILD</h4>
        </div>
    </div>   
    <h3 style="text-align:left" id="h1txtcolor">            
        <li> Distributed networks and elaboration of a Blockchain protocol suite</li>
        <li> Scalability</li>
        <li> Cryptography</li>
        <li> Mining and decentralisation </li>
        <li> Smart contracts and DAOs</li>
        <li> Regulatory (un)certainty</li>
        <li> Digital identification</li>
        <li> Institutional development</li>
        <li> Elaboration of industry best practice standards</li>
        <li> Law of smart contracts and DAOs</li>
    </h3>
</div>

{% endblock %}